<div class="entry">
  <h1>Settings</h1>
  <div class="body">
    telegram_id: {{telegram_id}}
  </div>
</div>

<div class="login">
  <h1>Login</h1>
    <form method="post">
      <input type="text" name="id" placeholder="Telegram id" required="required" />
        <button type="submit" class="btn btn-primary btn-block btn-large">Log in</button>
    </form>
</div>